body{
	background-color:white;
	width:100%;
	margin: 0 auto;
}

header{
	height: 95px;
	background-color: #2d303a;
	position: relative;
}
.midpage{
  width: 960px;
  margin: 0px auto;
}

.header-menu{
text-align: left;
	font-size: 0;
	line-height: 59px;
}

.header-menu .header-menu_logo{
position: absolute;
margin-left:20px;
margin-top: 16px;
height:20px;
width: 0px;
display: inline-block;
font-family: Lato;
color:  #ffffff;
font-size: 24.28px;
}


.header-menu_container{

	display: inline-block;
	width:1020px;
}


.header-menu_container ul{
	position: absolute;
	line-height: 45px;
	vertical-align: middle;
	display: inline-block;
	height: 9px;
	margin: 0 auto;
	margin-left: 500px;

}

.header-menu_container ul li{
	display: inline-block;
	padding-left: 2px;
	margin-left: 12px;
	vertical-align: middle;
	color:#494e62;
	font-size: 11.66px;
}

.header-menu_container ul li a{
	text-decoration: none;
	font-family: Lato;
	font-size: 12px;
	color:white;
}

.header-menu_container ul li a:hover{
	color: #f06c64;
}

.header-menu .header-menu_logo span{
		color:#f06c64;
}



.content-width{
	width: 1020px;
	margin: 0 auto;
}



.slider{
	height: 606px;
	background-color:#f06c64;
}

.slider .slider_iphone-vertical{
	position: relative;
	margin-top:60px;
	left:85px;

}

.slider .slider_iphone-horizontal{
	position: relative;
	top:-120px;
	left:150px;

}

.slider .slider_arrow-left{
display: inline-block;
position: absolute;
width:15px;
top:400px;
margin-left:10%;
}

.slider .slider_arrow-right{
display: inline-block;
position: absolute;
top:400px;
right:55%;
margin-right:-40%;

-webkit-transform: rotate(360deg); 
-moz-transform: rotate(360deg); 
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg); 
transform: rotate(180deg);
}
/* @PAGE TITLE */
.page_title h1{
  margin-top: 0;
  font-weight: 900;
  font-size: 30px;
}
.page_title p{
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}
/* @PORTOFOLIO */
.portofolio{
  padding: 70px 0px;
  background-color: #2d303a;
  color:#666d89;
}
.portofolio_chooser{
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: justify
}
.portofolio_chooser > div{
  display: inline-block;
  margin-right: 10px;
  padding: 0px 6px;
  color: #666d89;
  border: 1px solid #666d89;
  border-radius: 5px;
  transition:color 1s;
}
.portofolio_chooser .active{
  border: 1px solid #FFF;
  color: #FFF;

}
.portofolio_chooser > div:hover{
  cursor: pointer;
  border: 1px solid #FFF;
  color: #FFF;
}
.portofolio_gallery > div{
  display: inline-block;
  padding: 3px 5px 8px 5px ;
}
.portofolio_gallery > div:nth-child(4n+1){
  padding-left: 0px;
}